In [1]:
import pyodbc

In [2]:
pd_cxn_str = f"DRIVER=ODBC Driver 17 for SQL Server;SERVER=HP-NOTEBOOK;DATABASE=hr-ms;Trusted_Connection=yes;"
pd_cxn = pyodbc.connect(pd_cxn_str)
cursor = pd_cxn.cursor()

In [15]:
stmt = "select org_id, org_name from organizations"

cursor.execute(stmt)
orgs = cursor.fetchall()

emps = {}

for id, name in orgs:
    stmt = f"select emp_id, emp_firstname + ' ' + emp_lastname from employees where org_id = {id}"
    cursor.execute(stmt)
    emps[id] = cursor.fetchall()

In [16]:
len(emps.keys())

10

In [18]:
emps[106]

[(117, 'Fredelia McMillan'),
 (132, 'Demetre Flacknoe'),
 (138, 'Rosetta McKeefry'),
 (161, 'Janine Capell'),
 (162, 'Alejandra Tripney'),
 (167, 'Agosto Morfett'),
 (168, 'Rene Pochin'),
 (174, 'Stanfield Bucky'),
 (182, 'Kristel Falconer'),
 (188, 'Upton Knellen'),
 (191, 'Cassandra Doley'),
 (199, 'Oran Morgans'),
 (202, 'Clarine Christmas'),
 (209, 'Cesya Hanington'),
 (239, 'Phil Clue'),
 (244, 'Ddene Bescoby'),
 (264, 'Andromache Canada'),
 (277, 'Hervey Ditzel'),
 (278, 'Reinhold Sword'),
 (299, 'Stesha Saiens'),
 (306, 'Flor Rasell'),
 (307, 'Gerhardt Parcells'),
 (313, 'Rufe Keirle'),
 (317, 'Odie Muncaster'),
 (331, 'Paco Rawling'),
 (335, 'Crissy Sullly'),
 (340, 'Tova Casford'),
 (346, 'Clarita Hamel'),
 (356, 'Ida Klimpt'),
 (373, 'Costanza Themann'),
 (398, 'Janeczka Mulcahy'),
 (406, 'Donnajean Chubb'),
 (423, 'Leeland Perree'),
 (426, 'Christiana MacMurray'),
 (435, 'Justen Dunrige'),
 (437, 'Hollyanne Pedder'),
 (446, 'Eada Marriott'),
 (452, 'Bessie Gerrell'),
 (453, 'Maury Malmar'),
 (465, 'Nicki Vannucci'),
 (472, 'Jobey Gadie'),
 (486, 'Dacy Heady'),
 (525, 'Pattie Roizin'),
 (527, 'Luella Trussell'),
 (528, 'Idelle Strute'),
 (529, 'Arri Cissen'),
 (531, 'Lamont Torra'),
 (538, 'Lothaire Pottie'),
 (541, 'Maurise Aartsen'),
 (554, 'Reggie Larman'),
 (589, 'Durand McGennis'),
 (601, 'Marnia Boscher')]

In [6]:
orgs

[(106, 'Sauer, Robel and Kerluke'),
 (107, 'Koch and Sons'),
 (108, 'Howell-King'),
 (109, 'Schinner and Sons'),
 (110, 'Larson-Murphy'),
 (111, 'Romaguera Group'),
 (112, 'Bartell, Auer and Cremin'),
 (113, 'Senger-Kautzer'),
 (114, 'Haley, Grant and Yost'),
 (115, 'Schroeder-Schinner')]

In [7]:
import datetime
import random

In [8]:
start_time = datetime.time(hour=8)
end_time = datetime.time(hour=12)

time_ins= []
for i in range(20):
    hour = random.randint(start_time.hour, end_time.hour)
    minute = random.randint(0, 59)
    time_ins.append(datetime.time(hour=hour, minute=minute))

In [9]:
start_time = datetime.time(hour=13)
end_time = datetime.time(hour=17)

time_outs= []
for i in range(20):
    hour = random.randint(start_time.hour, end_time.hour)
    minute = random.randint(0, 59)
    time_outs.append(datetime.time(hour=hour, minute=minute))

In [13]:
# CREATE TABLE [dbo].[attendance]
# (
#   [atd_id] INT IDENTITY(100, 1) NOT NULL PRIMARY KEY,
#   [org_id] INT NOT NULL FOREIGN KEY REFERENCES [dbo].[organizations]([org_id]),
#   [atd_date] DATE NOT NULL,
# )



for id, name in orgs:
    date_ = datetime.date(2023, 1, 1)
    while date_ < (datetime.date.today() + datetime.timedelta(days=-2)):
        stmt = f"insert into attendance (org_id, atd_date) values ({id}, '{str(date_)}')"
        date_ += datetime.timedelta(days=1)
        cursor.execute(stmt)
        cursor.commit()
        
        # get the id of the attendance record just inserted
        stmt = "select @@IDENTITY"
        cursor.execute(stmt)
        atd_id = cursor.fetchone()[0]
        
        for emp in emps[id]:
            stmt = f"insert into attendanceDetails (atd_id, emp_id, time_in, time_out) values ({atd_id}, {emp[0]}, '{random.choice(time_ins)}', '{random.choice(time_outs)}')"
            cursor.execute(stmt)
            cursor.commit()

In [21]:
date = datetime.date(2023, 6, 12)
with open('attendance.csv', 'w') as f:
    f.write('emp_id,emp_name,time_in,time_out\n')
    
    for emp in emps[106]:
        time_in = random.choice(time_ins).strftime('%H:%M')
        time_out = random.choice(time_outs).strftime('%H:%M')
        f.write(f"{emp[0]},{emp[1]},{time_in},{time_out}\n")

In [11]:
for id, name in orgs:
    stmt = f"select count(*) from attendance where org_id = {id}"
    cursor.execute(stmt)
    print(cursor.fetchone()[0])